<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="customcss/style.css" />
		<title>cashbox project</title>
	</head>
	<body>
		<header class="headerimg">
			<nav>
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarTogglerDemo01"
						aria-controls="navbarTogglerDemo01"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
						<a class="navbar-brand" href="/">CASH BOX</a>
						<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
							<% for(var i = 0; i < nav.length; i++){%>
							<li class="nav-item">
								<a class="nav-link" href="<%=nav[i].link%>"><%=nav[i].title%></a>
							</li>
							<%}%>
						</ul>
						<form class="form-inline my-2 my-lg-0">
							<input
								class="form-control mr-sm-2"
								type="search"
								placeholder="Search"
								aria-label="Search"
							/>
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
						</form>
					</div>
				</nav>
			</nav>

			<div class="container">
				<!-- Content here -->
				<section>
					<form method="post" action="/addcontact">
						<div class="form-group">
							<label for="exampleSearch">Search Name</label>
							<input
								type="text"
								class="form-control"
								id="text"
								aria-describedby="text"
								placeholder="search"
							/>
							<small id="search" class="form-text text-muted">search by name and surname.</small>
						</div>

						<button type="submit" class="btn btn-primary">Search Site</button>
					</form>
				</section>
			</div>
		</header>
		<div class="container">
			<!--begin container-->
			<section class="my-5">
				<form method="post" action="/addcontact">
					<div class="form-group">
						<label for="exampleInputEmail1">Surname</label>
						<input
							type="text"
							class="form-control"
							id="sname"
							name="sname"
							aria-describedby="snameHelp"
							placeholder="Enter Surname"
						/>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">First Name</label>
						<input type="text" class="form-control" id="fname" name="fname"
						placeholder=" First Name" />
					</div>

					<div class="form-group">
						<label for="exampleInputEmail1">Date of Birth</label>
						<input
							type="text"
							class="form-control"
							id="dob"
							name = "dob"
							aria-describedby="dobHelp"
							placeholder="Enter Dob"
						/>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Age</label>
						<input type="text" class="form-control" id="age" name="age"
						 placeholder="age" />
					</div>

					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</section>
		</div>
		<!--end container-->

		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
		<script src="js/jquery.js"></script>
	</body>
</html>
